# Laravel
/vendor/
/node_modules/
/public/build/
/public/hot
/public/storage
/storage/*.key
/storage/pail
bootstrap/compiled.php
.env
.env.*
!.env.template
/.phpunit.cache
.phpunit.result.cache

# Database
database/*.sqlite

# IDE
/.idea/
/.vscode/
/.fleet/
/.nova/
/.zed/
/.cursor/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Dependencies
/auth.json

# Build artifacts
*.tgz
deployer.phar
