.root-div{
    overflow: auto;
    width: 100%;
}

.content{
    flex: 1;
    min-height: 100vh;
}

.main-content{
    min-height: 80vh;
    background-color: #FFF;
    box-shadow: inset 0px 0px 5px 5px #f1f1f1;
}
.main-content p{
    padding:10px;
}

.heading{
    height: 120px;
    padding: 25px;
    background-color: #FFF;
    box-shadow: inset 0px 0px 5px 5px #f1f1f1;
}
.heading h1{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

/* Mobile Nav 1700 931
Mobile phones Samsung+ - Ultra*/
@media(min-width: 275px){
    .content{
        width: 100%;
        max-width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    .main-content{
        padding: 25px;
    }

    .heading{
        height: 100px;
    }

    .heading h1{
        justify-content: center;
        font-size: 2.5rem;
    }
}

/* iPads, tablets */
@media(min-width: 481px){
    .heading{
        height: 110px;
    }

    .heading h1{
        font-size: 2.5rem;
    }
}


/* Desktop Nav 
Small screens, laptops */
@media(min-width: 769px){
    .content{
        width: 75%;
        max-width: 75%;
        margin-left: 25%;
        margin-top: 0;
    }

    .main-content{
        padding: 25px 25px 25px 50px;
    }

    .heading{
        height: 120px;
    }
    .heading h1{
        justify-content: left;
        font-size: 2.75rem;
    }
}

/* Desktop, large screens 720p*/
@media(min-width: 1025px){
    .content{
        width: 80%;
        max-width: 80%;
        margin-left: 20%;
    }

    .heading h1{
        font-size: 3rem;
    }
}

/* Extra large screens, 1080p */
@media(min-width: 1200px){
    .content{
        width: 85%;
        max-width: 85%;
        margin-left: 15%;
    }

    .heading h1{
        font-size: 2.75rem;
    }
}